.container {
    background: var(--blue);
    border-radius: 1.2rem;
    padding: 1rem;
    box-shadow: 0 0.16rem 0.5rem rgba(0, 0, 0, 0.05);
    opacity: 0.7;
}

.containerData {
    background: var(--blue);
}

.textEmptyData {
    color: var(--light-gray);
    font-size: var(--s16);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.66rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.chartContainer {
    position: relative;
    width: 100%;
    height: 50%;
    overflow-x: auto;
    overflow-y: hidden;
}

.chartWrapper {
    min-width: 25rem;
    height: 100%;
}

.statsRow {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    gap: 0.66rem;
}

.elemStat {
    flex: 1;
    background: var(--light-blue);
    border-radius: 0.6rem;
    padding: 0.66rem;
}

.statHed {
    color: var(--light-gray);
    font-size: var(--s16);
    font-weight: 500;
    margin-bottom: 0.333rem;
}

.statNum {
    font-size: var(--s24);
    font-weight: 700;
}

.containerDataIsEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.66rem 0.83rem;
}

.arrowsDown {
    margin: 0.83rem 0;
    opacity: 0.6;
}




@media (max-width: 1000px){
    .container {
        height: 20rem;
        display: flex;
        flex-direction: column;
    }

    .chartContainer {
        position: relative;
        width: 100%;
        min-height: 50%;
        overflow-x: auto;
        overflow-y: hidden;
        flex: 1;
    }
}
