:root {
    --dark-blue: #000218;
    --white: #FFFFFF;
    --blue: #0A1F32;
    --violete: #060A30;
    --light-blue: #2D384A;
    --pale-blue: #8C9BA7;
    --pale-violete: #595B82;
    --gray: #737373;
    --light-gray: #D2D2D2;
    --green: #2DCBC2;
    --red: #FF6B7D;
}