@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-font.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }
  
  :root {
    --s12:0.5rem;
    --s16:0.66rem;
    --s20:0.83rem;
    --s24:1rem;
    --s32:1.33rem;
    --s36:1.5rem;
    --s48:1.8rem;
  }
